#__next>div.Layout_justNav__3CIEq>div.DisplayAd_genericAd__22Dlg.DisplayAd_banner__1O3YG.my-4.DisplayAd_genericAdCentered__1NmXE {
    display: none;
}

#__next>div.Layout_justNav__3CIEq>div:nth-child(5)>div {
    display: none;
}

body>iframe:nth-child(12) {
    display: none;
}

body>iframe:nth-child(13) {
    display: none;
}

body>iframe:nth-child(15) {
    display: none;
}

body>iframe:nth-child(19) {
    display: none;
}